{% extends "home/base.html" %}
{% load tags %}
{% block content %}

    <h2> Accounts for user: {{ user.username }} </h2>
    
    
    {% for account in accounts %}
        <div class="content-section mt-4">
            <div>
                <h4 class="float-left">Account Name: {{ account.name }} <br> </h4>
                {% if account.active %}
                    <div class="float-right mt-3"> Activated </div>
                {% else %}
                    <div class="float-right mt-3"> Not </div>
                {% endif %}
            </div>
            <h4 style="clear: both;">Total: {{ account.total_income|subtract:account.total_spendings }}</h4>
        </div>
    {% endfor %}

{% endblock content %}
