{% extends "home/base.html" %}
<!-- {% load crispy_forms_tags %} -->
{% block content %}

<form action="#" method="post" id="ItemForm" category-url="{% url 'ajax_load_categories' %}">
    {% csrf_token %}
    <legend class="border-bottom mb-2">Add item
        <input class="btn btn-primary float-right" type="submit" value="Edit">
        <a class="btn btn-danger float-right mr-3" style="color:#fff" href="{% url 'delete-item' id %}" > 
            Delete 
        </a>
    </legend>
    {{ form }}
</form>
<script>
    $(document).ready(function () {
        // var today = new Date();
        // $('.date_field').val(today.toISOString().substr(0, 10));

        $(".category_type_list").change(function () {
            var url = $("#ItemForm").attr("category-url");  // get the url of the `load_categories` view
            var categoryTypeId = $(this).val();  // get the selected category ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-categories/)
                data: {
                    'CategoryType': categoryTypeId       // add the category id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_categories` view function
                    $(".category_types").html(data);  // replace the contents of the category input with the data that came from the server
                }
            });

        });
    });
</script>
{% endblock content %}