{% extends "home/base.html" %}
{% load tags %}
{% block content %}

    <div class = "data">
      Account Name: {{account.name}} <br>
      Total Income: {{ account.total_income }} <br>
      Spent: {{ account.total_spendings }},
      Remaining: {{ account.total_income|subtract:account.total_spendings }}
      <a class="btn btn-primary btn-lg float-right" href="{% url 'add-item' %}" >Add</a>
    </div>
    <div class="form-group row mt-3">
        <label for="month" class="col-sm-1 col-form-label">Month: </label>
        <div class="col-sm-3">
          <select class="form-control" name="month" id="month" >
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="Novemeber">Novemeber</option>
            <option value="December">December</option>
          </select>
        </div>
    </div>
    <h2 class="my-3">Details: </h2>
    {% for data in items %}
       <article class="media content-section">
           <div class="media-body">
              <div class="article-metadata">
                <small class="text-muted" id="date">{{ data.date }}</small>
                {% if data.expenses != 0 %}
                  <small class="text-muted float-right">Expenses: {{ data.expenses }} </small>
                {% endif %}

                {% if data.income != 0 %}
                  <small class="text-muted float-right mr-2">Income: {{ data.income }} </small>
                {% endif %}
              </div>
              {% for item in data.items %}
                <h2><a class="article-title" href="{% url 'item-edit' item.id %}">{{ item.category.name }}</a>
                </h2>
                <span class="float-right"> {{ item.value }} </span>
                <p class="article-content" style="margin-top: -25px;" >
                     {{item.notes}}
                </p>
                {% if item != data.items|last %}
                  <hr>
                {% endif %}
              {% endfor %}
            </div>
        </article>
    {% endfor %}

    <script>
      var urlParams = new URLSearchParams(window.location.search);
      console.log(urlParams.get('m'));
      if (urlParams.get('m')){
        document.querySelector("#month").selectedIndex = parseInt(urlParams.get('m')) - 1;
      }else{
        var d = new Date();
        document.querySelector("#month").selectedIndex = d.getMonth();
      }

      document.querySelector("#month").onchange = function(){
        window.location.href = `/?m=${this.selectedIndex + 1}`;
      };
    </script>
{% endblock content %}