{% extends "home/base.html" %}
{% block content %}

<h1 class="mb-4"> Statistics / {{ items.first.category.name }} </h1>
<!-- <div class="content-section">
    <h1>A Graph!</h1>
</div> -->
<div class="content-section">
    <h1 class="mb-3">Details:</h1>
    <hr>
    {% for item in items %}
        <div class="font-weight-bold">
            <a style="font-size: 20px; color: black; text-decoration: none;" href="{% url 'item-edit' item.id %}">{{ item.notes }}</a>
            <span class="float-right">{{ item.value }}</span>
            <br>
            <span> {{item.date|date:"M d, Y"}}</span>
        </div>
        {% if not forloop.last %}
            <hr>
        {% endif %}
    {% endfor %}
</div>

{% endblock content %}