{% extends "home/base.html" %}
{% block content %}

<div class="statistics-heading container">
    <h1 class="mb-2 float-left"> Statistics </h1>
    <button class="btn btn-outline-primary income_btn float-right ml-2">Income</button>
    <button class="statistics-income-btn btn btn-outline-primary expense_btn float-right"
        >Expenses</button>
</div>
<div class="content-section">
    <div id="chartContainer"></div>
</div>
<div class="content-section expenses-list">
    <h2>Expenses list</h2>
    <br>
    {% for item in items_expenses %}
    <div class="statistics-list mb-2 font-weight-bold">
        <a href="{% url 'statistics-redirect' item.indexLabel  %}">
            {{ item.indexLabel }} </a>
        <span class="float-right">{{ item.y }}</span>

        {% if item != items_expenses|last %}
        <hr>
        {% endif %}
    </div>
    {% endfor %}
</div>
<div class="content-section income-list" style="display: none;"> 
    <h2>Income list</h2>
    <br>
    {% for item in items_income %}
    <div class="statistics-list mb-2 font-weight-bold">
        <a href="{% url 'statistics-redirect' item.indexLabel  %}">
            {{ item.indexLabel }} </a>
        <span class="float-right">{{ item.y }}</span>

        {% if item != items_income|last %}
        <hr>
        {% endif %}
    </div>
    {% endfor %}
</div>

<script>
    window.onload = function () {
        
        CallAjax(1) // to call for expenses items from the server, 1 means expenses (default)

        function CallAjax(categoryTypeId) {
            $.ajaxSetup({
                headers: { "X-CSRFToken": getCookie("csrftoken") }
            });
            $.ajax({
                url: "/statistics/",
                data: {
                    'CategoryType': categoryTypeId       // add the category id to the GET parameters
                },
                'type': 'POST',
                success: function (items) {   // `items` is the return of the `load_categories` view function
                    var chart = new CanvasJS.Chart("chartContainer",
                        {
                            backgroundColor: "transparent",
                            title: {
                                text: ""
                            },
                            legend: {
                                maxWidth: 350,
                                itemWidth: 120,
                                horizontalAlign: "right",
                                verticalAlign: "center"
                            },
                            data: [
                                {
                                    type: "pie",
                                    showInLegend: true,
                                    legendText: "{indexLabel}",
                                    dataPoints: items,
                                }
                            ]
                        });
                    chart.render();  // replace the contents of the category input with the data that came from the server
                }
            });
        }
        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start, c_end));
                }
            }
            return "";
        }
        $(".expense_btn").click(function () {
            CallAjax(1)
            $(".expense_btn").css("background-color", "#007bff")
            $(".expense_btn").css("color", "#fff")
            $(".income_btn").css("background-color", "transparent")
            $(".income_btn").css("color", "#007bff")
            $(".expenses-list").css("display", "block")
            $(".income-list").css("display", "none")
            $(".category_input").attr("name", "new_expense")
        }
        )
        $(".income_btn").click(function () {
            CallAjax(2)
            $(".expense_btn").css("background-color", "transparent")
            $(".expense_btn").css("color", "#007bff")
            $(".income_btn").css("background-color", "#007bff")
            $(".income_btn").css("color", "#fff")
            $(".expenses-list").css("display", "none")
            $(".income-list").css("display", "block")
            $(".category_input").attr("name", "new_income")
        }
        )
    }
</script>

{% endblock content %}