body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

@media (max-width: 500px)  {
  .navbar-brand {
    font-size: 15px;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

.bg-steel {
  background-color: black;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 10px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  margin-top: -25px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 3px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.data {
  font-size: large;
  font-weight: bold;
}

#date {
  font-weight: bold;
  font-size: large;
}

.active-delete {
  display: inline;
}

/* categories */
.category-heading {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.category-heading .expense_btn {
  margin-left: 5px;
}

.category-heading .income_btn {
  margin-left: auto;
}

@media (max-width: 500px)  {
  .category-heading {
    flex-wrap: wrap;
  }
}

.category-income-btn {
  background-color: #007bff;
  color: #fff;
}

.table-category-name {
  padding-bottom: 20px;
}

.table-category-name li {
  font-size: 25px;
}

.category-delete-btn {
  padding-bottom: 20px; display: none;
}

.category-delete-btn i {
  color: red;
}

/* end categories */

/* statitics */

.statistics-heading {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.statistics-heading .expense_btn {
  margin-left: 5px;
}

.statistics-heading .income_btn {
  margin-left: auto;
}

@media (max-width: 500px)  {
  .statistics-heading {
    flex-wrap: wrap;
  }
}

.statistics-income-btn {
  background-color: #007bff;
  color: #fff;
}

#chartContainer {
  height: 300px;
  width: 100%;
  background-color: transparent;
}

.statistics-list a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* end statistics */

/* item-statistics */

.statistics-item a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

/* end item-statistics */

.clear-fix {
  clear: both;
}



